# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
serviceAccountKey.json
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Database
*.sqlite
*.sqlite-shm
*.sqlite-wal
database.sqlite*
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.cache/
temp/
tmp/